# Desarrollo local (backend NestJS)
VITE_API_URL=http://localhost:3000/api

# Entorno de pruebas en hosting
# VITE_API_URL=https://api-prueba.ceere.net/api

# Producción
# VITE_API_URL=https://api.ceere.net/api
